.btn-google{
    width: 184px;
    height: 42px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgb(0,0,0,0.25);
    cursor: pointer;
    user-select: none;
    transition: .3s;
}
.btn-google .google-icon-wrarber{
width: 40px;
height: 40px;
position: absolute;
margin-top: 1px;
margin-left: 1px;
background-color: white;
border-radius: 2px;
}
.google-icon-wrarber .google-icon{
   width: 30px;
   height: 30px;
   position: absolute;
   margin-top: 5px;
   margin-left: 5px;
    
}
.btn-google .btn-text{
    float: right;
    margin: 11px 7px 0 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
}
.btn-google:hover{
    box-shadow: 0 0 6px #4285f4;
}
.btn-google:active{
    background-color: #1669f2;
}