/* .hand{
    background-image: url(../../../Assets/pixlr-image-generator-6aa82f22-7caa-4ebe-9b34-6deb54605c4a.png);
    height: 82.5vh;
    background-position: right;
    background-size: cover;
}

form .form-control:focus {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.354);
    border:0 ;
}


@media (min-width: 992px) {
    .w-80{
        width:80%   
    }
} */
.wave{
    position: absolute;
    width: 300%;
    height: 100%;
    left: 50%;
    top: 50%;
    z-index: 1;
    border-radius: 50%;
    transform: translateX(-50%) skew(0,-10deg);
    animation: waving ease-in-out 7s infinite alternate;
}

@keyframes waving {
    from {
        transform: translateX(-50%) skew(0,-10deg);

    }to {
    transform: translateX(-30%) skew(10deg,0);

    }
    
}